---
import { getCollection } from "astro:content";
import ArticleCard from "../../components/ArticleCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { sortByDate } from "../../js/utils";

const articles = sortByDate(
  await getCollection("articles", ({ data }) => {
    return Boolean(data.publishDate);
  })
);

const title = "Articles";
---

<MainLayout {title}>
  <h1 id="page-title">{title}</h1>
  <ul class="card-stack" role="list" aria-labelledby="page-title">
    {articles.map((article, index) => <ArticleCard {article} {index} hLevel="h3" />)}
  </ul>
</MainLayout>
