---
import { getCollection } from "astro:content";
import { slugify, sortByDate } from "../../js/utils";
import MainLayout from "../../layouts/MainLayout.astro";
import ArticleCard from "../../components/ArticleCard.astro";

export async function getStaticPaths() {
  const articles = await getCollection("blog");
  const categories = [...new Set(articles.map(({ data }) => data.category))];

  return categories.map((category) => ({
    params: { slug: slugify(category) },
    props: { category },
  }));
}

const { category } = Astro.props;

const articles = await getCollection("blog", ({ data }) => {
  return data.draft !== true && data.category === category;
});
sortByDate(articles);
---

<MainLayout {category}>
  <h1 id="page-title">{category}</h1>
  <ul class="card-stack" role="list" aria-labelledby="page-title">
    {articles.map((article, index) => <ArticleCard {article} {index} hLevel="h3" />)}
  </ul>
</MainLayout>
