---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";
import Pagination from "../../components/Pagination.astro";
import Spacer from "../../components/Spacer.astro";
import TagCloud from "../../components/TagCloud.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  });

  const pages = paginate(posts, { pageSize: 2 });
  return pages;
}) satisfies GetStaticPaths; //https://github.com/withastro/astro/issues/6507#issuecomment-1489916992

const { page } = Astro.props;
console.log("🚀 ~ page:", {...page, data: null});

const title = "Blog";
---

<MainLayout {title}>
  <h1>{title}</h1>
  <div class="cards-grid">
    {page.data.map((post) => <PostCard {post} hLevel="h3" />)}
  </div>

  <Spacer height="2rem" />
  <Pagination {page} />
  
  <Spacer height="2rem" />
  <TagCloud />
</MainLayout>

<style>
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0 1rem 1rem 0;
  }
</style>
