---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";
import Pagination from "../../components/Pagination.astro";
import Spacer from "../../components/Spacer.astro";
import TagCloud from "../../components/TagCloud.astro";
import { sortByDate } from "../../js/utils";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  });
  sortByDate(posts);

  const pages = paginate(posts, { pageSize: 2 });
  return pages;
}) satisfies GetStaticPaths; /* https://github.com/withastro/astro/issues/6507#issuecomment-1489916992 */

const { page } = Astro.props;
console.log("🚀 ~ page:", { ...page, data: null });

const title = "Blog";
---

<MainLayout {title}>
  <h1 id="page-title">{title}</h1>
  <ul class="card-stack" role="list" aria-labelledby="page-title">
    {page.data.map((post) => <PostCard {post} hLevel="h3" />)}
  </ul>

  <!-- TODO: hide spacer if there's no pagination -->
  <Spacer height="2rem" />
  <Pagination {page} />

  <Spacer height="2rem" />
  <TagCloud />
</MainLayout>
