---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";

const posts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});
posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());

const title = "Blog";
---

<MainLayout {title}>
  <h1>{title}</h1>
  <div class="card-stack">
    {posts.map((post) => <PostCard {post} hLevel="h3" />)}
  </div>
</MainLayout>
