---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";

//const posts = await Astro.glob("./post-*.md");
const posts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});
//console.log("🚀 ~ posts:", posts); //DEBUG

const title = "Blog";
---

<MainLayout {title}>
  <h1>{title}</h1>
  <div class="card-stack">
    {posts.map((post) => <PostCard {post} hLevel="h3" />)}
  </div>
</MainLayout>
