---
import { Icon } from "astro-icon/components";
import Link from "../../components/Link.astro";
import ResumeExperience, { type ResumeExperienceI } from "../../components/Resume/ResumeExperience.astro";
import ResumeSection from "../../components/Resume/ResumeSection.astro";
import MainLayout from "../../layouts/MainLayout.astro";

const title = `Alessandro Bozzoli resume ${new Date().getFullYear().toString()}`;

const experience: ResumeExperienceI[] = [
  {
    title: "Web Accessibility Specialist",
    location: "Accenture Song",
    startDate: "2025-05",
    description:
      "Conducting accessibility assessments on numerous websites (using screen readers, plus automated and manual testing), mainly for the Public Administration and multinational banks, producing detailed reports and providing operational guidance for regulatory compliance.",
  },
  {
    title: "Frontend Developer",
    location: "Accenture Italy",
    startDate: "2022-05",
    endDate: "2025-04",
    description:
      "Development of web applications in React and Angular for public and private sector clients, with a strong focus on accessibility compliance and a leading role in prevention and remediation initiatives. Customization of Drupal-based back-office, including theming and Twig templating.",
  },
];

const education: ResumeExperienceI[] = [
  {
    title: "Java AEM Developer Course",
    location: "Adecco Academy",
    startDate: "2022-02",
    endDate: "2022-04",
    durationOverride: "(200h)",
  },
  {
    title: "Java Developer Course",
    location: "Generation Italy",
    startDate: "2021-10",
    endDate: "2022-02",
    durationOverride: "(480h)",
  },
  {
    title: "Graphic Arts Bachelor's Degree",
    location: "Brera Academy",
    startDate: "2016-10",
    endDate: "2021-04",
    durationOverride: "",
    description: "Final grade: 110/110 with honors.",
  },
];
---

<MainLayout {title}>
  <div class="grid-layout">
    <img
      class="portrait"
      src=`${import.meta.env.BASE_URL}/images/portrait-cv-2026.jpg`
      alt="Professional headshot of a smiling young man with short brown hair, a well-groomed beard, wearing round metal-framed glasses, a light collared shirt, dark sweater, and jacket, against a neutral textured background in warm natural light"
      title="Professional headshot of a smiling young man with short brown hair, a well-groomed beard, wearing round metal-framed glasses, a light collared shirt, dark sweater, and jacket, against a neutral textured background in warm natural light"
    />

    <hgroup>
      <h1>Alessandro Bozzoli</h1>
      <p>Frontend Developer & Web Accessibility Specialist</p>
    </hgroup>

    <button type="button" class="print-button button secondary" aria-label="Print resume" onclick="window.print()">
      <Icon name="mdi:printer-outline" size="1.25rem" aria-hidden="true" focusable="false" />
      <span>Print</span>
    </button>

    <ResumeSection title="Contacts" icon="mdi:information-outline">
      <dl>
        <div>
          <dt><Icon name="mdi:location-on-outline" size="1.5em" title="Address" /></dt>
          <dd>Viale Campania, 5 20133 Milan</dd>
        </div>

        <div>
          <dt><Icon name="mdi:telephone" size="1.5em" title="Phone" /></dt>
          <dd><a href="tel:+39 348 481 9116">+39 348 481 9116</a></dd>
        </div>

        <div>
          <dt><Icon name="mdi:email-outline" size="1.5em" title="E-mail" /></dt>
          <dd><a href="mailto:abozzoli.dev@gmail.com">abozzoli.dev@gmail.com</a></dd>
        </div>

        <div>
          <dt><Icon name="mdi:linkedin" size="1.5em" title="LinkedIn profile" /></dt>
          <dd><Link href="https://www.linkedin.com/in/abozzoli/">/abozzoli</Link></dd>
        </div>

        <div>
          <dt><Icon name="mdi:github" size="1.5em" title="GitHub profile" /></dt>
          <dd><Link href="https://github.com/ABozzoli">/abozzoli</Link></dd>
        </div>

        <div>
          <dt><Icon name="mdi:web" size="1.5em" title="Personal blog" /></dt>
          <dd><Link href="https://abozzoli.github.io/blog/">abozzoli.github.io/blog</Link></dd>
        </div>
      </dl>
    </ResumeSection>

    <ResumeSection title="Summary" icon="mdi:note-text-outline">
      <p class="summary">
        Passionate and committed to creating solid and inclusive digital experiences through user-friendly, accessible
        web applications.
      </p>
      <ul>
        <li>Proficient in HTML5, CSS3, and frontend frameworks (React, Angular);</li>
        <li>
          Experienced in conducting web accessibility audits, implementing WCAG&nbsp;2.2 guidelines, and ensuring EN 301
          549 compliance;
        </li>
        <li>Create responsive web apps with consistent behavior across browsers;</li>
        <li>Quality-oriented, proactive problem-solver and fast learner.</li>
      </ul>
    </ResumeSection>

    <ResumeSection title="Skills" icon="mdi:hammer-wrench">
      <ul>
        <li>Accessibility (WCAG 2.2)</li>
        <li>React</li>
        <li>Angular</li>
        <li>HTML5 & CSS3</li>
        <li>JavaScript ES6+</li>
        <li>TypeScript</li>
        <li>RESTful API</li>
        <li>Git</li>
      </ul>
    </ResumeSection>

    <ResumeSection title="Experience" icon="mdi:briefcase-outline" class="row-span-2">
      <ol role="list" reversed>
        {experience.map((item) => <ResumeExperience {...item} />)}
      </ol>
    </ResumeSection>

    <ResumeSection title="Languages" icon="mdi:language">
      <dl>
        <div>
          <dt>Italian</dt>
          <dd>Native</dd>
        </div>
        <div>
          <dt>English</dt>
          <dd>Advanced</dd>
        </div>
      </dl>
    </ResumeSection>

    <ResumeSection title="Education" icon="mdi:academic-cap-outline" class="col-span-2">
      <ol role="list" reversed>
        {education.map((item) => <ResumeExperience {...item} />)}
      </ol>
    </ResumeSection>

    <footer role="region" class="col-span-2">
      <small>
        I authorize the processing of my personal data pursuant to Legislative Decree 196 of June 30, 2003 and Art. 13
        of the GDPR (EU Regulation 2016/679) for recruitment purposes.
      </small>
    </footer>
  </div>
</MainLayout>

<style lang="scss">
  .grid-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px 16px;

    .col-span-2 {
      grid-column: span 2;
    }

    .row-span-2 {
      grid-row: span 2;
    }

    .portrait,
    hgroup {
      margin-bottom: 8px;
    }

    .print-button {
      position: absolute;
      top: 0;
      right: 0;
      border-top: none; /* Better then -1px at mobile */
      border-right: none; /* Better then -1px at mobile */
    }

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      row-gap: 32px;

      .portrait {
        margin-top: 16px;
        margin-bottom: -16px;
      }

      hgroup {
        text-align: center;

        h1 {
          width: auto;
        }
      }
    }
  }

  @media print {
    @page {
      size: auto;
      margin: 16px;
    }

    .print-button {
      display: none;
    }

    .summary {
      text-wrap: balance;
    }

    a {
      text-decoration: none !important;
    }
  }

  .portrait {
    width: 140px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-inline: auto;
  }

  hgroup {
    margin-top: auto;
    text-wrap: balance;

    h1 {
      font-size: var(--fs-40px);
      width: min-content;
    }

    p {
      font-size: var(--fs-16px);
    }
  }

  footer {
    display: none;
    text-align: center;
    text-wrap: balance;
    color: var(--foreground-muted);

    @media print {
      display: block;
      position: absolute;
      bottom: 32px;
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  p,
  ul,
  dl {
    font-size: var(--fs-14px);
  }

  ul,
  dl {
    margin-bottom: 0;
  }

  dt,
  dd {
    display: inline;
  }

  dt {
    font-weight: 600;
  }

  dl > div {
    display: flex;
    align-items: center;
    column-gap: 8px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
</style>
