<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV Alessandro Bozzoli 2025</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div class="container">
      <header role="banner">
        <hgroup>
          <h1><span class="visually-hidden">Curriculum Vitae of </span>Alessandro Bozzoli</h1>
          <p lang="en">Frontend Developer & Web Accessibility Specialist</p>
        </hgroup>

        <blockquote>HTML and CSS nerd with an increasing focus on accessibility.</blockquote>
      </header>

      <main>
        <section aria-labelledby="info-and-contacts">
          <h2 id="info-and-contacts">Info and Contacts</h2>
          <div class="d-flex">
            <img
              class="portrait card-shadow"
              src=`${import.meta.env.BASE_URL}/images/portrait-cv-2025.jpg`
              alt="Professional portrait of a young smiling man with short brown hair, a well-groomed beard, and glasses, wearing a white blue-striped shirt, in front of a white background"
            />

            <dl aria-labelledby="info-and-contacts">
              <div>
                <dt>Date of birth</dt>
                <dd><time datetime="1992-10-01">01/10/1992</time></dd>
              </div>

              <div>
                <dt>Email</dt>
                <dd>
                  <a href="mailto:alessandrobozzoli92@gmail.com">alessandrobozzoli92@gmail.com</a>
                </dd>
              </div>

              <div>
                <dt>Phone</dt>
                <dd>
                  <a href="tel:+39 348 481 9116">+39 348 481 9116</a>
                </dd>
              </div>

              <div>
                <dt>Address</dt>
                <dd>Viale Campania, 5, 20133, Milan (MI)</dd>
              </div>

              <div>
                <dt>Driver's license</dt>
                <dd>B (car owner)</dd>
              </div>

              <div>
                <dt>Social</dt>
                <dd>
                  <a href="https://www.linkedin.com/in/abozzoli/" target="_blank">
                    LinkedIn <span class="visually-hidden"> - opens in a new tab</span>
                  </a>
                </dd>
                <dd>
                  <a href="https://github.com/ABozzoli" target="_blank">
                    GitHub <span class="visually-hidden"> - opens in a new tab</span>
                  </a>
                </dd>
                <dd>
                  <a href="https://abozzoli.github.io/blog/" target="_blank">
                    Personal&nbsp;blog <span class="visually-hidden"> - opens in a new tab</span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>
        </section>

        <section aria-labelledby="professional-experience">
          <h2 id="professional-experience">Professional Experience</h2>
          <ol role="list" reversed aria-labelledby="professional-experience">
            <li>
              <h3 lang="en">Web Accessibility Specialist</h3>
              at Accenture Song
              <div class="dates">
                <span class="visually-hidden">from</span>
                <time datetime="2025-05">May 2025</time>
                <span class="visually-hidden">to</span>
                <time>present</time> (7 months)
              </div>
              <p>
                Conducting accessibility assessments on numerous websites (with automated tests, manual tests, and
                screen reader), mainly for the
                <abbr title="Public Administration">PA</abbr> and multinational banks, producing detailed reports and operational guidance for
                regulatory compliance.
              </p>
            </li>

            <li>
              <h3 lang="en">Application Developer</h3>
              at Accenture Italy
              <div class="dates">
                <span class="visually-hidden">from</span>
                <time datetime="2024-11">November 2024</time>
                <span class="visually-hidden">to</span>
                <time datetime="2025-04">April 2025</time> (6 months)
              </div>
              <p>
                Development and maintenance of web apps in React and Angular for public sector clients, with strong
                attention to accessibility requirements and a central role in prevention and remediation efforts.
              </p>
            </li>

            <li>
              <h3 lang="en">Junior Application Developer</h3>
              at Accenture Italy
              <div class="dates">
                <span class="visually-hidden">from</span>
                <time datetime="2022-05">May 2022</time>
                <span class="visually-hidden">to</span>
                <time datetime="2024-10">October 2024</time> (2 years 6 months)
              </div>
              <p>
                Development and maintenance of web apps in React for public and private sector clients and customization
                of Drupal-based back-office systems, including theming and templating with Twig.
              </p>
            </li>
          </ol>
        </section>

        <section aria-labelledby="education-and-training">
          <h2 id="education-and-training">Education and Training</h2>
          <ol role="list" reversed aria-labelledby="education-and-training">
            <li>
              <h3>Java AEM Developer Course</h3>
              at Adecco
              <div class="dates">
                <span class="visually-hidden">from</span>
                <time datetime="2022-02">February 2022</time>
                <span class="visually-hidden">to</span>
                <time datetime="2022-04">April 2022</time> (200h)
              </div>
            </li>

            <li>
              <h3>Intensive Java Developer Course</h3>
              at Generation Italy
              <div class="dates">
                <span class="visually-hidden">from</span>
                <time datetime="2021-10">October 2021</time>
                <span class="visually-hidden">to</span>
                <time datetime="2022-02">February 2022</time> (480h)
              </div>
            </li>

            <li>
              <h3>Bachelor's Degree in Graphic Arts and Printmaking (110/110 cum laude)</h3>
              at Accademia di Belle Arti di Brera
              <div class="dates">
                <span class="visually-hidden">from</span>
                <time datetime="2016-10">October 2016</time>
                <span class="visually-hidden">to</span>
                <time datetime="2021-04">April 2021</time>
              </div>
            </li>
          </ol>
        </section>

        <div class="cols-2">
          <section aria-labelledby="it-skills">
            <h2 id="it-skills">IT Skills</h2>
            <ul aria-labelledby="it-skills" class="list-cols-2">
              <li>Digital accessibility (WCAG 2.2)</li>
              <li>React</li>
              <li>Angular</li>
              <li>HTML5 & CSS3</li>
              <li>JavaScript ES6+</li>
              <li>TypeScript</li>
              <li>Git</li>
              <li>REST API</li>
            </ul>
          </section>

          <section aria-labelledby="soft-skills">
            <h2 id="soft-skills">Soft Skills</h2>
            <ul aria-labelledby="soft-skills">
              <li>Quality-oriented</li>
              <li>Continuous learning</li>
              <li>Proactive problem solving</li>
            </ul>
          </section>
        </div>

        <div class="cols-2">
          <section aria-labelledby="languages">
            <h2 id="languages">Languages</h2>
            <ul aria-labelledby="languages">
              <li><strong>Italian:</strong> Native</li>
              <li><strong>English:</strong> Advanced</li>
            </ul>
          </section>

          <section aria-labelledby="awards">
            <h2 id="awards">Awards</h2>
            <ul aria-labelledby="awards">
              <li>
                <strong>Carapelli for Art 2018</strong>, 1st prize - Academy section
                <a href="https://exibartprize.com/opere/divina-colorum/" target="_blank">
                  "Divina Colorum"<span class="visually-hidden"> - opens in a new tab</span>
                </a>
                <span class="details">(digital fine art created with HTML and CSS)</span>
              </li>
            </ul>
          </section>
        </div>
      </main>

      <footer role="contentinfo">
        <p>
          I authorize the processing of my personal data pursuant to Legislative Decree 196 of June 30, 2003 and Art. 13
          of the GDPR (EU Regulation 2016/679) for recruitment purposes.
        </p>
      </footer>
    </div>
  </body>
</html>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    text-underline-offset: 0.125em;
  }

  body {
    font-family: "Fira Sans", sans-serif;
    line-height: 1.4;
    font-size: 0.875rem;
    background-image: linear-gradient(transparent, var(--background)),
      radial-gradient(var(--foreground) 0 1px, transparent 0 100%);
    background-size:
      100% 100vh,
      24px 24px;
    background-color: rgba(0, 0, 0, 0.01);
    background-position:
      bottom center,
      top left;
    background-repeat: no-repeat, repeat;
  }

  h1,
  h2 {
    font-family: "Fira Mono", monospace;
  }

  h1 {
    font-size: 2.25em;
    line-height: 1.1;
  }

  h2 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5rem;
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
    display: inline;
  }

  p,
  blockquote {
    text-wrap: pretty;
  }

  b,
  strong,
  dt {
    font-weight: 600;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto; /* Maintains aspect ratio */
    font-style: italic; /* For alt text */
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
    object-fit: cover;
  }

  .visually-hidden:not(:focus, :active, :focus-within) {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  hgroup {
    text-align: center;
    margin-bottom: 1rem;
  }

  blockquote {
    font-style: italic;
    font-size: 1.25em;
    text-align: center;
  }

  blockquote::before {
    content: open-quote;
  }

  blockquote::after {
    content: close-quote;
  }

  .container {
    max-width: 900px;
    margin: 48px auto;
    padding: 32px 24px 24px;
    background-color: var(--background);
    border: 1px solid var(--foreground);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }

  section {
    margin-top: 16px;
  }

  .cols-2 {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    column-gap: 32px;
  }

  dt::after {
    content: ":";
  }

  dt,
  dd {
    display: inline;
  }

  dd + dd::before {
    content: "|" / "";
  }

  a {
    display: inline-block; /* Trim whitespace */
  }

  ul,
  ol {
    padding-inline: 1.25em;
  }

  ol {
    list-style: disc;
  }

  ol li + li {
    margin-top: 0.5em;
  }

  .list-cols-2 {
    columns: 2;
    column-gap: 2em;
  }

  span[lang] {
    font-style: italic;
  }

  .dates {
    font-size: 0.9em;
    color: #666;
    font-style: italic;
  }

  .dates + p {
    margin-top: 0.5em;
  }

  time ~ time::before {
    content: " - " / "";
  }

  footer {
    margin-top: 64px;
    font-size: 0.8em;
    color: #666;
    text-align: center;

    p {
      text-wrap: balance;
    }
  }

  .portrait {
    width: 120px;
    height: 140px;
    border: 1px solid var(--foreground);
  }

  .d-flex {
    display: flex;
    column-gap: 24px;
  }

  .details {
    font-size: 0.9em;
  }

  #awards ~ ul li {
    text-wrap: balance;
  }

  @media (max-width: 900px) {
    .container {
      margin-top: 0;
      margin-bottom: 0;
      border: none;
    }
  }

  @media (max-width: 768px) {
    .cols-2 {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 420px) {
    h1 {
      margin-bottom: 1rem;
    }

    .d-flex {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  @media print {
    .container {
      margin-top: 0;
      margin-bottom: 0;
      min-height: 100vh;
      border: none;
      font-size: 96%;
    }

    footer {
      margin-top: auto;
    }
  }
</style>
