---
export interface Props {
  groups: string[][];
}

const { groups } = Astro.props;
---

<ul class="skill-groups">
  {
    groups.map((group) => (
      <li>
        {group.map((skill) => (
          <span>{skill}<span class='visually-hidden'>,&nbsp;</span></span>
        ))}
      </li>
    ))
  }
</ul>

<style lang="scss">
  .skill-groups {
    font-size: var(--fs-14px);
    margin-bottom: 0;

    /* Replaces the "|" separator, as it was sometimes announced by assistive technologies and did not create the intended pause between elements */
    li > span:not(:last-child) {
      padding-right: 1ch;
      border-right: 1px solid;
      margin-right: 1ch;
    }
  }
</style>
