---
import MainLayout from "../layouts/MainLayout.astro";

const title = "About me";
---

<MainLayout {title}>
  <h1>{title}</h1>
  <section aria-label="About me">
    <img class="portrait" src="/images/portrait.jpg" alt="A. Bozzoli portrait" />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab error, facere vel ad similique ut expedita ea alias
      quam eaque pariatur! Perferendis quibusdam quidem ducimus necessitatibus eaque illo tempora maxime, voluptatibus
      nemo, eius quisquam quasi fugit voluptatem distinctio soluta deserunt!
    </p>
  </section>
</MainLayout>

<style>
  .portrait {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
</style>
