---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import { sortByDate } from "../js/utils";

const posts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});
sortByDate(posts);

const title = "Home";
---

<MainLayout {title}>
  <section class="about-me" aria-labelledby="about-me-title">
    <!-- TODO: improve portrait alt text -->
    <img class="portrait block-shadow" src="/images/portrait.jpg" alt="Alessandro Bozzoli portrait" />
    <div class="intro-text">
      <hgroup>
        <h2 id="about-me-title" class="mb-0">Alessandro Bozzoli</h2>
        <p>Frontend Developer</p>
      </hgroup>
      <p>
        Serial overthinker,<br />
        fervently passionate about<br />
        <strong>CSS</strong> and <strong>accessibility</strong>.
      </p>
    </div>
  </section>

  <h2 id="latest-posts-title">Latest posts</h2>
  <ul class="card-stack" role="list" aria-labelledby="latest-posts-title">
    {posts.slice(0, 3).map((post) => <PostCard {post} hLevel="h3" />)}
  </ul>
</MainLayout>

<style lang="scss">
  .about-me {
    display: flex;
    column-gap: 16px;
    margin-bottom: 48px;

    .portrait {
      width: 140px;
      height: 160px;
      aspect-ratio: 1;
    }

    .intro-text {
      margin-bottom: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > p {
        font-size: var(--fs-20px);
      }
    }
  }

  @media (max-width: 576px) {
    /* TODO */
  }
</style>
