---
import MainLayout from "../layouts/MainLayout.astro";

const title = "Home";
---

<MainLayout {title}>
  <section class="about-me" aria-labelledby="about-me-title">
    <!-- TODO: improve portrait alt text -->
    <img class="portrait card-shadow" src="/images/portrait.jpg" alt="Alessandro Bozzoli portrait" />
    <div class="intro-text">
      <hgroup>
        <h2 id="about-me-title" class="mb-0">Alessandro Bozzoli</h2>
        <p>Frontend Developer</p>
      </hgroup>
      <p>
        Serial overthinker,<br />
        fervently passionate about<br />
        <strong>CSS</strong> and <strong>accessibility</strong>.
      </p>
    </div>
  </section>

  <h2>Latest posts</h2>
  TODO
</MainLayout>

<style lang="scss">
  .about-me {
    display: flex;
    column-gap: 16px;
    margin-bottom: 48px;

    .portrait {
      width: 140px;
      height: 160px;
      aspect-ratio: 1;
    }

    .intro-text {
      margin-bottom: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > p {
        font-size: var(--fs-20px);
      }
    }
  }

  @media (max-width: 576px) {
    /* TODO */
  }
</style>
