.menu-toggle,
.blog-title,
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  height: var(--header-height);
  line-height: var(--header-height);
  min-width: var(--header-height);

  &:is(:hover, :active) {
    background-color: var(--foreground);
    color: var(--background);
  }
}
