---
import DevBanner from "../DevBanner.astro";
import HeaderDialog from "./HeaderDialog.astro";
import HeaderLinks from "./HeaderLinks.astro";
import SkipLinks from "../SkipLinks.astro";
import "./header.css";
import { Icon } from "astro-icon/components";
---

<script>
  const menuToggle = document.getElementById("menu-toggle") as HTMLButtonElement;
  const menuDialog = document.getElementById("menu-dialog") as HTMLDialogElement;

  menuToggle?.addEventListener("click", () => menuDialog?.showModal());
</script>

<DevBanner />

<header>
  <SkipLinks />

  <div class="container">
    <a class="blog-title" href="" aria-label="ABozzoli, Homepage">ABozzoli</a>

    <nav aria-label="Primary">
      <div class="navigation--desktop">
        <HeaderLinks />
      </div>

      <div class="navigation--mobile">
        <button id="menu-toggle" class="menu-toggle" type="button" title="Open menu" aria-haspopup="dialog">
          <span class="visually-hidden">Open menu</span>
          <Icon name="mdi:hamburger-menu" size="1.5em" />
        </button>

        <HeaderDialog />
      </div>
    </nav>
  </div>
</header>

<style lang="scss">
  header {
    background-color: var(--background);
    border-bottom: 1px solid var(--foreground);
    box-shadow: var(--border-shadow);
    position: sticky;
    z-index: 1; /* Needed to prevent <sup> elements from bleeding over the header */
    top: 0;
    height: var(--header-height);

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .blog-title {
      font-size: var(--fs-600);
      font-weight: 600;
      font-family: var(--ff-title);
    }

    .navigation {
      &--mobile {
        display: none;

        @media (max-width: 768px) {
          display: contents;
        }
      }

      &--desktop {
        display: contents;

        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    @media print {
      display: none;
    }
  }
</style>
