<div class="spacer"></div>
<footer>
  Copyright &copy; {new Date().getFullYear().toString()} A. Bozzoli
</footer>

<style>
  .spacer {
    height: 5rem;
  }

  footer {
    text-align: center;
    padding: 2rem;
    background-color: black;
    color: white;
    font-size: var(--fs-300);
  }
</style>
