---
import DevBanner from "./DevBanner.astro";
import SkipLinks from "./SkipLinks.astro";
import { isCurrentPage } from "../js/utils";

export const routes = [
  { href: "", title: "Home" },
  { href: "articles", title: "Articles" },
];

const currentPath = Astro.url.pathname;
---

<DevBanner />

<header>
  <SkipLinks />

  <div class="container">
    <a class="blog-title" href="" aria-label="ABozzoli, Homepage">ABozzoli</a>

    <nav aria-label="Primary">
      <ul role="list">
        {
          routes.map(({ href, title }) => (
            <li>
              <a class="nav-link" href={href} aria-current={isCurrentPage(currentPath, href)}>
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  header {
    background-color: white;
    border-bottom: 1px solid black;
    box-shadow: var(--border-shadow);
    position: sticky;
    top: 0;
    height: var(--header-height);

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    a {
      display: block;
      padding-inline: 1rem;
      height: var(--header-height);
      line-height: var(--header-height);
    }

    .blog-title {
      font-size: var(--fs-600);
      font-weight: bold;
      font-family: var(--ff-title);

      &:hover {
        background-color: black;
        text-decoration-color: black;
        color: white;
      }
    }

    nav ul {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      [aria-current="page"] {
        background-color: black;
        color: white;
      }
    }
  }
</style>
