---
interface Props {
  href: string;
}

const { href, ...props } = Astro.props;
const currentPath = Astro.url.pathname;
const isExternal = href.startsWith("http://") || href.startsWith("https://");
---

<a href={isExternal ? href : currentPath + href} target={isExternal ? "_blank" : null} {...props}
  ><slot />{isExternal && <span class="visually-hidden">, opens in a new window</span>}</a
>
