---
import { getCollection } from "astro:content";
import { sortByDate } from "../js/utils";

const { category, title } = Astro.props;

const articles = sortByDate(
  await getCollection("articles", ({ data }) => {
    // Note: check on title to exclude current article
    return Boolean(data.publishDate) && data.category === category && data.title !== title;
  })
);
---

{
  articles.length > 0 && (
    <aside>
      <h2 id="related-articles-title" class="text-center mt-48 mb-12">
        Related articles
      </h2>
      <ul class="tag-cloud" role="list" aria-labelledby="related-articles-title">
        {articles.slice(0, 3).map((article) => (
          <li>
            <a class="badge" href={`articles/${article.slug}`}>
              {article.data.title}
            </a>
          </li>
        ))}
      </ul>
    </aside>
  )
}
