---
import { fetchArticles } from "../js/utils";

const { category, title } = Astro.props;

const articles = await fetchArticles({ category, excludeTitle: title, limit: 3 });
---

{
  articles.length > 0 && (
    <aside>
      <h2 id="related-articles-title" class="text-center mt-48 mb-12">
        Related articles
      </h2>
      <ul class="tag-cloud" role="list" aria-labelledby="related-articles-title">
        {articles.map((article) => (
          <li>
            <a class="badge" href={`articles/${article.slug}`}>
              {article.data.title}
            </a>
          </li>
        ))}
      </ul>
    </aside>
  )
}
