---
import type { HTMLAttributes } from "astro/types";
import { slugify } from "../js/utils";

interface Props extends HTMLAttributes<"section"> {
  title: string;
}

const { title, ...props } = Astro.props;
---

<section aria-labelledby=`section-${slugify(title)}-title` {...props}>
  <h2 id=`section-${slugify(title)}-title`>{title}</h2>
  <slot />
</section>
