---
import type { HTMLAttributes } from "astro/types";
import { createId } from "../js/utils";

interface Props extends HTMLAttributes<"section"> {
  title: string;
}

const id = createId();
const titleId = `title-${id}`;

const { title, ...props } = Astro.props;
---

<section aria-labelledby={titleId} {...props}>
  <h2 id={titleId}>{title}</h2>
  <slot />
</section>
