---
interface Props {
  lines?: number;
}

const { lines = 3 } = Astro.props;
/* Ref: https://www.accede-web.com/en/guidelines/rich-interface-components/show-more-buttons/ */
---

<show-more class="show-more">
  <p tabindex="-1" style=`--lines: ${lines}`>
    <slot />
  </p>

  <button aria-expanded="false">Show more</button>
</show-more>

<style lang="scss">
  .show-more {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &:has(+ button[aria-expanded="false"]) {
      -webkit-line-clamp: var(--lines);
    }
  }
</style>

<script>
  /* Ref: https://docs.astro.build/en/guides/client-side-scripts/#web-components-with-custom-elements */
  class ShowMore extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector("button");
      const paragraph = this.querySelector("p");
      let isExpanded = false;

      button?.addEventListener("click", () => {
        isExpanded = !isExpanded;
        button?.setAttribute("aria-expanded", String(isExpanded));
        button.textContent = isExpanded ? "Show less" : "Show more";
        if (isExpanded) paragraph?.focus();
      });
    }
  }

  customElements.define("show-more", ShowMore);
</script>
