---
const currentPath = Astro.url.pathname;
---

<div class="skip-links">
  <ul role="list" aria-label="Skip-links">
    <li><a class="visually-hidden" href=`${currentPath}#main`>Skip to main content</a></li>
    <li><a class="visually-hidden" href=`${currentPath}#footer`>Skip to footer</a></li>
  </ul>
</div>

<style lang="scss">
  .skip-links {
    position: absolute;
    inset-inline: 0;
    text-align: center;
    padding-inline: 1rem;
    align-content: center;
    height: inherit;
    background-color: black;
    color: white;
    font-size: var(--fs-400);
    transform: translateY(-100%);

    @media (prefers-reduced-motion: no-preference) {
      transition: transform 0.3s;
    }

    &:focus-within {
      transform: translateY(0%);
    }

    a {
      padding-inline: 0.25ch;
    }
  }
</style>
