---
import type { MarkdownHeading } from "astro";
import Accordion from "../components/Accordion.astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
const currentPath = Astro.url.pathname;
---

<script>
  /* Make headings focusable for better accessibility when navigated via TOC */
  const _headings = document.querySelectorAll("article :is(h2, h3, h4, h5, h6)");
  _headings.forEach(heading => heading.setAttribute("tabindex", "-1"));
</script>

{
  headings.length > 0 && (
    <div class="sticky-wrapper">
      <div class="table-of-contents">
        <Accordion title="Table of Contents">
          <ol role="list">
            {headings.map(({ slug, depth, text }) => (
              <li>
                <a href=`${currentPath}#${slug}` data-heading-level={depth}>
                  {text}
                </a>
              </li>
            ))}
          </ol>
        </Accordion>
      </div>
    </div>
  )
}

<style lang="scss">
  .sticky-wrapper {
    position: sticky;
    top: var(--header-height);
    z-index: -1;
  }

  .table-of-contents {
    --open-width: 200px;
    --closed-width: 50px;

    position: absolute;
    left: calc(100% + var(--content-inline-padding) - (var(--open-width) - var(--closed-width)));
    margin-top: -1px; /* Compensate for the border when sticky */
    min-width: var(--open-width);
    transition: left 0.3s ease-in-out;

    &:hover,
    &:focus-within,
    &:has([open]) {
      left: calc(100% + var(--content-inline-padding));
    }

    ol {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px;
    }

    a {
      display: block; /* Make the whole line clickable */
      font-size: var(--fs-14px);
      line-height: 1.2;
      margin-left: calc(1ch * (attr(data-heading-level number) - 2));
    }
  }

  @media (max-width: 1200px) {
    .sticky-wrapper {
      position: static;
      margin-bottom: 40px;
    }

    .table-of-contents {
      position: static;
    }
  }

  /* Highlight current section only when sticky */
  @media (min-width: 1200px) {
    .table-of-contents {
      /* Ref: https://una.im/scroll-target-group/ */
      scroll-target-group: auto;

      a:target-current {
        font-weight: 600;
      }
    }
  }
</style>
