---
import type { MarkdownHeading } from "astro";
import Accordion from "../components/Accordion.astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
const currentPath = Astro.url.pathname;

/* Ref: https://una.im/scroll-target-group/ */
---

<script>
  /* Make headings focusable for better accessibility when navigated via TOC */
  const _headings = document.querySelectorAll("article :is(h2, h3, h4, h5, h6)");
  _headings.forEach(heading => heading.setAttribute("tabindex", "-1"));
</script>

{
  headings.length > 0 && (
    <div class="sticky-wrapper">
      <div class="table-of-contents">
        <Accordion title="Table of Contents">
          <ol role="list">
            {headings.map(({ slug, depth, text }) => (
              <li>
                <a href=`${currentPath}#${slug}` data-heading-level={depth}>
                  {text}
                </a>
              </li>
            ))}
          </ol>
        </Accordion>
      </div>
    </div>
  )
}

<style lang="scss">
  .sticky-wrapper {
    position: sticky;
    top: var(--header-height);
  }

  .table-of-contents {
    position: absolute;
    right: calc(100% + var(--content-inline-padding));
    margin-top: -1px; /* Compensate for the border when sticky */
    scroll-target-group: auto;
    min-width: 200px; /* Magic number alert */

    ol {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px;
    }

    a {
      display: block; /* Make the whole line clickable */
      font-size: var(--fs-14px);
      line-height: 1.2;
      margin-left: calc(1ch * (attr(data-heading-level number) - 2));

      &:target-current {
        font-weight: bold;
      }
    }
  }

  /* Magic number alert */
  @media (max-width: 1200px) {
    .sticky-wrapper {
      position: static;
      margin-bottom: 40px;
    }

    .table-of-contents {
      position: static;
    }
  }
</style>
