---
import { getCollection } from "astro:content";
import { slugify } from "../js/utils";

const posts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});

const tags = posts.map((post) => post.data.category).sort();

// prettier-ignore
const tagsCount = tags.reduce((acc, category) => {
  acc[category] = (acc[category] ?? 0) + 1;
  return acc;
}, {} as Record<string, number>);
---

<ul class="tag-cloud" role="list" title="Categories">
  {
    Object.entries(tagsCount).map(([tag, count]) => (
      <li>
        <a class="badge" href={`/category/${slugify(tag)}/`}>
          {tag} ({count})
        </a>
      </li>
    ))
  }
</ul>

<style>
  .tag-cloud {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
