---
import { fetchArticles, slugify } from "../js/utils";

const articles = await fetchArticles();
const tags = articles.flatMap((article) => article.data.categories).sort();

const tagsCount: Record<string, number> = {};
tags.forEach((tag) => (tagsCount[tag] = (tagsCount[tag] ?? 0) + 1));
---

{
  Object.keys(tagsCount).length > 0 && (
    <aside>
      <h2 id="tag-cloud-title">Categories</h2>
      <ul class="tag-cloud" role="list" aria-labelledby="tag-cloud-title">
        {Object.entries(tagsCount).map(([tag, count]) => (
          <li>
            <a class="badge" href={`categories/${slugify(tag)}`}>
              {tag} ({count})
            </a>
          </li>
        ))}
      </ul>
    </aside>
  )
}

<style lang="scss">
  aside {
    text-align: center;
    margin-top: 56px;
  }
</style>
