body {
  font-family: var(--ff-base);
}

a[href]:hover,
a[href]:focus {
  text-decoration: underline;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;
  text-decoration-skip-ink: none;
}

a:not([href]) {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: not-allowed;
  opacity: 0.5;
}

ul[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
  margin: auto;
  border: none;
  max-height: none;
}

dialog:not([open]) {
  display: none;
}

body:has(dialog[open]),
body:has(.scroll-lock) {
  overflow: hidden;
}

.badge {
  display: inline-block;
  padding: 0.5em;
  line-height: 1;
  font-size: var(--fs-12px);
  font-weight: 500;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  background-color: black;
  color: white;
  white-space: nowrap;
}

/* Ref: https://www.scottohara.me/blog/2023/03/21/visually-hidden-hack.html */
.visually-hidden:not(:focus):not(:active):not(:focus-within) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
