/* Ref: https://utilitybend.com/blog/added-to-my-css-reset-interpolate-size-the-quality-of-life-feature-we-all-wanted-at-some-point */
html {
  interpolate-size: allow-keywords;
}

* {
  transition-behavior: allow-discrete;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  @view-transition {
    navigation: auto;
  }
}

a {
  text-decoration-line: none;

  &[href]:not(header *):is(:hover, :active) {
    text-decoration-line: underline;
  }
}

p,
:not([role]) > li,
:is(h1, h2, h3, h4, h5, h6),
:is(.h1, .h2, .h3, .h4, .h5, .h6) {
  a[href] {
    text-decoration-line: underline;

    &:is(:hover, :active) {
      background-color: var(--foreground);
      text-decoration-color: var(--foreground);
      box-shadow:
        0.125em 0 var(--foreground),
        -0.125em 0 var(--foreground);
      color: var(--background);
    }
  }
}

a:not([href], [inert] *) {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: not-allowed;
  opacity: 0.5;
}

[inert] {
  opacity: 0.5;
}

[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;

  &:empty {
    display: none;
  }
}

dialog {
  padding: 0;
  margin: auto;
  border: none;
  max-height: none;
}

dialog:not([open]),
:popover-open {
  display: none;
}

/* Ref: https://x.com/argyleink/status/1793302054859063718
[popover],
dialog,
::backdrop {
  transition:
    display 1s allow-discrete,
    overlay 1s allow-discrete,
    opacity 1s;
  opacity: 0;
}

:popover-open,
:popover-open::backdrop,
[open],
[open]::backdrop {
  opacity: 1;
}

@starting-style {
  :popover-open,
  :popover-open::backdrop,
  [open],
  [open]::backdrop {
    opacity: 0;
  }
}
*/

/* Ref: https://www.htmhell.dev/adventcalendar/2025/9/ */
html:has(dialog[open]:modal),
html:has(.scroll-lock) {
  scrollbar-gutter: stable; /* It doesn't work if applied to <body> */
}

body:has(dialog[open]:modal),
body:has(.scroll-lock) {
  overflow: hidden; /* It hides sticky header if applied to <html> */
}

dialog[open]::backdrop {
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
}

/* Ref: https://youtu.be/Vzj3jSUbMtI?t=510 */
details::details-content {
  overflow: hidden; /* Ref: https://youtu.be/idoaw75xjhU?t=630 */
  height: 0;

  @media (prefers-reduced-motion: no-preference) {
    transition-property: content-visibility, height;
    transition-duration: 0.3s;
    transition-behavior: allow-discrete;
  }
}

details[open]::details-content {
  height: auto;
}

/* Ref: https://matuzo.at/blog/2026/better-defaults-for-popovers */
@supports (position-area: end) {
  [popover] {
    margin: 0;
    position-area: end span-end;
    position-try-fallbacks:
      flip-block,
      flip-inline,
      flip-block flip-inline;
  }
}

.badge {
  display: inline-block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.5em;
  line-height: 1;
  font-size: var(--fs-12px);
  font-weight: 500;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  background-color: var(--foreground);
  color: var(--background);
  white-space: nowrap;
}

ul.card-stack {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.block-shadow {
  --shadow-thickness: 12px;

  border: 1px solid var(--foreground);
  box-shadow: var(--shadow-thickness) var(--shadow-thickness) 0 var(--foreground);
  margin: 0 var(--shadow-thickness) var(--shadow-thickness) 0;

  @media (prefers-color-scheme: dark) {
    position: relative;
    box-shadow: unset;
    background-color: var(--background);

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      translate: var(--shadow-thickness) var(--shadow-thickness);
      border: 1px solid var(--foreground);
      background-image: var(--striped-background);
    }
  }
}

.striped-background {
  background-color: var(--background);
  color: var(--foreground);

  @media (prefers-color-scheme: dark) {
    background-image: var(--striped-background);

    .preserve-background {
      background-color: var(--background);
      box-shadow: 0 0 0 6px var(--background); /* Don't use outline, it breaks focus styles */
    }
  }
}

ul.tag-cloud {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

/* Ref: https://www.scottohara.me/blog/2023/03/21/visually-hidden-hack.html */
.visually-hidden:not(:focus, :active, :focus-within) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Ref: https://medienbaecker.com/articles/focus-outlines */
:focus-visible,
:target:focus {
  box-shadow: 0 0 0 3px var(--background);
  outline: 2px solid var(--foreground);
  outline-offset: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  :focus-visible,
  :target:focus {
    animation: outline-close-in 0.2s ease-out;
  }
}

@keyframes outline-close-in {
  from {
    box-shadow: 0 0 0 3px transparent;
    outline-color: transparent;
    outline-offset: 6px;
  }
}
