/* Ref: https://utilitybend.com/blog/added-to-my-css-reset-interpolate-size-the-quality-of-life-feature-we-all-wanted-at-some-point */
html {
  interpolate-size: allow-keywords;
}

* {
  transition-behavior: allow-discrete;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  @view-transition {
    navigation: auto;
  }
}

body {
  font-family: var(--ff-base);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:is(h1, h2, h3, h4, h5, h6),
:is(.h1, .h2, .h3, .h4, .h5, .h6) {
  font-family: var(--ff-title);
}

p,
li {
  line-height: 1.5;
}

a {
  text-decoration-line: none;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;

  &[href]:is(:hover, :active) {
    text-decoration-line: underline;
  }
}

p,
:is(h1, h2, h3, h4, h5, h6),
:is(.h1, .h2, .h3, .h4, .h5, .h6) {
  a[href] {
    text-decoration-line: underline;

    &:is(:hover, :active) {
      background-color: black;
      text-decoration-color: black;
      box-shadow:
        0.25em 0 black,
        -0.25em 0 black;
      color: white;
    }
  }
}

a:not([href], [inert] *) {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: not-allowed;
  opacity: 0.5;
}

[inert] {
  opacity: 0.5;
}

ul[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
  margin: auto;
  border: none;
  max-height: none;
}

dialog:not([open]) {
  display: none;
}

/* Ref: https://x.com/argyleink/status/1793302054859063718 */
[popover],
dialog,
::backdrop {
  transition:
    display 1s allow-discrete,
    overlay 1s allow-discrete,
    opacity 1s;
  opacity: 0;
}

:popover-open,
:popover-open::backdrop,
[open],
[open]::backdrop {
  opacity: 1;
}

@starting-style {
  :popover-open,
  :popover-open::backdrop,
  [open],
  [open]::backdrop {
    opacity: 0;
  }
}

body:has(dialog[open]),
body:has(.scroll-lock) {
  overflow: hidden;
}

.badge {
  display: inline-block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.5em;
  line-height: 1;
  font-size: var(--fs-12px);
  font-weight: 500;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  background-color: black;
  color: white;
  white-space: nowrap;
}

ul.card-stack {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.block-shadow {
  border: 1px solid black;
  box-shadow: 12px 12px 0 black;
  margin: 0 12px 12px 0;
}

ul.tag-cloud {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

/* Ref: https://www.scottohara.me/blog/2023/03/21/visually-hidden-hack.html */
.visually-hidden:not(:focus, :active, :focus-within) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Ref: https://medienbaecker.com/articles/focus-outlines */
*:focus-visible {
  box-shadow: 0 0 0 3px white;
  outline: 2px solid black;
  outline-offset: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  *:focus-visible {
    animation: outline-close-in 0.2s ease-out;
  }
}

@keyframes outline-close-in {
  from {
    box-shadow: 0 0 0 3px transparent;
    outline-color: transparent;
    outline-offset: 6px;
  }
}

hr {
  border: none;
  border-top: 1px solid black;
}
