/* General layout */
.container {
  width: min(768px, 100%);
  margin-inline: auto;
}

.flow > * + * {
  margin-top: 1em; /* fallback for browsers lh without support */
  margin-top: 1lh;

  &:is(h1, h2, h3, h4, h5, h6),
  &:is(.h1, .h2, .h3, .h4, .h5, .h6) {
    margin-top: 1.5em; /* fallback for browsers lh without support */
    margin-top: 1.5lh;
  }
}

:is(h1, h2, h3, h4, h5, h6),
:is(.h1, .h2, .h3, .h4, .h5, .h6) {
  margin-bottom: 0.25em; /* fallback for browsers lh without support */
  margin-bottom: 0.25lh;
}

/* To make main expand and push footer to the bottom */
body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  main {
    display: flex;
    flex-grow: 1;
  }
}

/* Ref: https://youtu.be/xpQYd_rxy8Y */
:root {
  --header-height: 3.5rem;
}

/* Ref: https://cssence.com/2025/scroll-margin-scroll-padding/ */
html {
  scroll-padding-top: var(--header-height);
}

/* Ref: https://youtu.be/bj0Z_GncIwY */
.grid-auto-fill {
  --min-size: 120px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--min-size, 16rem), 100%), 1fr));
  gap: 1rem;
}
