.base-layout {
  --max-width: 1200px;
  --padding: 1rem;

  display: grid;
  grid-template-columns:
    minmax(var(--padding), 1fr)
    min(var(--max-width), 100% - var(--padding) * 2)
    minmax(var(--padding), 1fr);

  & > * {
    grid-column: 2 / 3;
  }

  & > .full-width {
    grid-column: 1 / -1;
  }
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

footer {
  margin-top: auto;
}
