/* General layout */
.container {
  width: min(768px, 100%);
  margin-inline: auto;
  isolation: isolate; /* Prevents TOC from ending behind the container */

  @media print {
    width: 100%;
  }
}

/* To make `<main>` expand and push footer to the bottom */
body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  main {
    display: flex;
    flex-grow: 1;
  }
}

/* Ref: https://youtu.be/xpQYd_rxy8Y */
:root {
  --header-height: 56px;
}

/* Ref: https://cssence.com/2025/scroll-margin-scroll-padding/ */
html {
  scroll-padding-top: calc(var(--header-height) + 16px);
}

/* Ref: https://youtu.be/bj0Z_GncIwY */
.grid-auto-fill {
  --min-size: 120px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--min-size), 100%), 1fr));
  gap: 16px;
}
