*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  height: auto; /* Maintains aspect ratio */
  font-style: italic; /* For alt text */
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
  object-fit: cover;
}

a {
  color: inherit;
}

button {
  all: unset;
  outline: revert; /* Restore the default focus outline removed by "all: unset" */
  box-sizing: border-box; /* Ensure the box-sizing reset is applied despite "all: unset" */
  text-decoration-thickness: 0.125em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

textarea {
  resize: vertical;
}

a:where([href]),
button,
.button,
[role="button"],
[type="button"],
[type="reset"],
[type="submit"],
[type="image"],
[type="checkbox"],
[type="radio"],
label,
select,
summary {
  cursor: pointer;
}

.disabled,
:disabled,
[disabled],
[aria-disabled="true"] {
  cursor: not-allowed;
}

[aria-busy="true"] {
  cursor: progress;
}
