body {
  font-family: var(--ff-base);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Faux bold detection animation (Ref: https://clagnut.com/blog/2438/) */
@keyframes flip-synthesis {
  from {
    font-synthesis: none;
  }
  to {
    font-synthesis: initial;
  }
}

body {
  animation: 3s infinite flip-synthesis;
}

:is(h1, h2, h3, h4, h5, h6),
:is(.h1, .h2, .h3, .h4, .h5, .h6) {
  font-family: var(--ff-title);
  margin-bottom: 0.5rem;

  &:where(:not(:first-child)) {
    margin-top: 2.5rem;
  }

  &:has(+ .card-stack) {
    margin-bottom: 1em;
  }
}

p,
ol,
ul {
  text-wrap: pretty;

  &:where(:not(:last-child)) {
    margin-bottom: 1em;
  }
}

p:has(+ ol, + ul) {
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  padding-left: 2ch;
}

p,
li {
  line-height: 1.5;
}

* {
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

p a {
  text-decoration-thickness: 1px;
}

:is(a[target="_blank"], .footnote) > p {
  display: contents;
}

hr {
  border: none;
  border-top: 1px solid var(--foreground);
}

span[lang] {
  font-style: italic;
}

blockquote {
  font-size: var(--fs-18px);
  font-style: italic;
  margin: 1rem 0 1rem 1rem;

  p {
    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}

pre {
  overflow-x: auto;
  padding: 1rem;
  margin-block: 1rem;
}

code {
  font-style: normal; /* Force code to be normal even inside italics */
}

pre code {
  font-size: var(--fs-14px);
}

:is(p, li) code {
  font-weight: 600;
  background-color: color-mix(in srgb, var(--foreground) 5%, var(--background));
  padding: 0.125em 0.25em;
}

kbd {
  border: 1px solid var(--foreground);
  border-radius: 0.25em;
  padding-inline: 0.25em;
  box-shadow: 0.125em 0.125em 0 0.125em var(--foreground);
  margin-inline-end: 0.25em;
}

:is(p, li) code,
kbd {
  font-size: 0.875em;
  vertical-align: 0.0625em;
}
