---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer.astro";
import "../css";

interface Props {
  title: string;
  lang?: "en" | "it";
}

const { title, lang = "en" } = Astro.props;
---

<html {lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <base href={import.meta.env.BASE_URL} />
    <title>ABozzoli blog - {title}</title>
  </head>
  <body>
    <Header />
    <main id="main" tabindex="-1" class="container">
      <div class="content-wrapper">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  body {
    background-image: linear-gradient(transparent, var(--background)),
      radial-gradient(var(--foreground) 0 1px, transparent 0 100%);
    background-size:
      100% 100vh,
      24px 24px;
    background-color: color-mix(in srgb, var(--foreground) 1%, transparent);
    background-position:
      bottom center,
      top left;
    background-repeat: no-repeat, repeat;

    @media print {
      background: none;
    }
  }

  .content-wrapper {
    --content-inline-padding: 24px;

    position: relative; /* Needed for table-of-contents positioning */
    /* isolation: isolate; Prevents striped-shadow from ending behind the container but breaks TOC */
    width: 100%;
    padding: 48px var(--content-inline-padding) 96px;
    background-color: var(--background);
    border-inline: 1px solid var(--foreground);
    box-shadow: var(--border-shadow);

    @media (max-width: 768px) {
      --content-inline-padding: 16px;

      padding: 32px var(--content-inline-padding) 64px;
      border-inline: none;
    }

    @media print {
      padding: 48px var(--content-inline-padding);
      border: none;
      box-shadow: none;
    }
  }
</style>
