---
// Components
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// CSS
import "../css/colors.css";
import "../css/fonts.css";
import "../css/global.scss";
import "../css/layout.scss";
import "../css/normalize.css";
import "../css/reset.css";
import "../css/typography.css";
import "../css/utility.scss";
import "../css/variables.css";

// Props
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <base href={import.meta.env.BASE_URL} />
    <title>ABozzoli blog - {title}</title>
  </head>
  <body>
    <Header />
    <main id="main" tabindex="-1" class="container">
      <div class="content-wrapper">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  body {
    background-image: linear-gradient(transparent, white), radial-gradient(black 0 1px, transparent 0 100%);
    background-size:
      100% 100vh,
      24px 24px;
    background-color: rgba(0, 0, 0, 0.01);
    background-position:
      bottom center,
      top left;
    background-repeat: no-repeat, repeat;
  }

  .content-wrapper {
    width: 100%;
    padding: 48px 24px 96px;
    background-color: white;
    border-inline: 1px solid black;
    box-shadow: var(--border-shadow);

    @media (max-width: 768px) {
      padding: 32px 16px 64px;
      border-inline: none;
    }
  }
</style>
