<footer class="footnotes">
  <h2 class="visually-hidden">Footnotes</h2>

  <ol><slot /></ol>
</footer>

<style lang="scss">
  .footnotes {
    margin-top: 96px;
    border-top: 1px solid var(--foreground);
    padding-top: 1em;
    font-size: var(--fs-14px);
  }
</style>
